@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
}

html,
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

a:active {
  opacity: 0.3;
}


.title {
  margin-bottom: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  letter-spacing: 0.4px;
  line-height: 56px;
  word-spacing: 0.5px;
  color: #000;
}

.text {
  margin: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  text-transform: none;
  color: #000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: #000;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 42px;
    z-index: 1;
}

.btn::before {
  content: "";
  width: 100%;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #f0c52e;
  transform: translateY(-50%);
  transition: height 0.2s;
  z-index: -1;
}

.btn:hover::before,
.btn:focus::before {
  height: 100%;
  transition: all 0.2s;
}

.btn:hover {
  opacity: 1;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular-slider__radio-btn,
.services__radio-btn {
  display: none;
}

/*Шапка и логотип*/

.header {
  width: 1160px;
  min-height: 328px;
  margin: 12px auto 0;
  padding-top: 20px;
  position: relative;
  background: transparent;
  box-shadow: none;
  background-image: linear-gradient(to bottom,
                    #fff 0,
                    #fff 28px,
                    #F7E296 28px,
                    #F7E296 328px,
                    #fff 328px,
                    #fff 100%);
  }

  .header--catalog {
    height: 373px;
    background-image: linear-gradient(to bottom,
                      transparent 0,
                      transparent 7.5%,
                      #F7E296 7.5%,
                      #F7E296 55%,
                      transparent 55%,
                      transparent 100%);
  }


  .logo {
  position: absolute;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.5px;
  color: #000;
  text-transform: uppercase;
  top: 0;
}

.logo--header {
  top: 0;
  left: 58px;
}

.logo--catalog {
  top: 3px;
  left: 58px;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

/* Меню и навигация */

.control {
  display: flex;
  margin: 42px 0 15px 0;
  padding: 0 60px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
 }

.menu-user--header {
  margin: 0;
  padding: 0;
  width: 498px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.sign {
  width: 280px;
  margin: 0;
  margin-right: auto;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.control__item {
  margin-right: 37px;
  padding-left: 25px;
  position: relative;
  font-size: 15px;
  line-height: 36px;
}

.control__item:last-child {
  margin-right: 0;
}

.control__item--search {
  margin-right: auto;
}

.control__item--profile {
  margin: 0;
}

.control__item--logout {
  padding-left: 20px;
}

.control__item--logout .control__link {
  opacity: 0.3;
}

.control__item--logout .control__link:hover {
  opacity: 0.6;
}

.control__item--logout .control__link:active {
  opacity: 1;
}

.control__item::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  cursor: pointer;
}

.control__item--search::before {
  top: 18px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
}

.menu-user__item--login::before,
.menu-user__item--profile::before {
  width: 13px;
  height: 12px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
}

.menu-user__item--compare::before {
  top: 14px;
  left: 4px;
  width: 10px;
  height: 10px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
}

.menu-user__item--backet::before {
  top: 13px;
  left: 3px;
  width: 12px;
  height: 12px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
}

.menu-user__item:hover::before {
  opacity: 0.6;
}

.menu-user__item:active::before {
  opacity: 0.3;
}

.form-search {
  display: flex;
}

.form-search__btn {
  width: 84px;
  height: 47px;
  margin-left: -4px;
  color: #F7E296;
  border: none;
  background-color: #F7E296;
  cursor: none;
  position: relative;
}

.form-search__btn::after {
  content: "";
  width: 350px;
  height: 1px;
  position: absolute;
  top: 42px;
  left: -350px;
  border-bottom: 2px solid transparent;
}

.form-search__input {
  width: 330px;
  height: 47px;
  padding-left: 15px;
  font-size: 15px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.3);
  background-color: #F7E296;
  border: none;
}

.form-search__input:hover {
  color: rgba(0, 0, 0, 0.6);
}

.form-search__input:focus {
  color: #000;
}

.form-search__input:focus + .form-search__btn {
  color: #000;
  border: 2px solid #000;
  cursor: pointer;
}

.form-search__input:focus + .form-search__btn::after {
  border-bottom: 2px solid #000;
}

.form-search__input:focus + .form-search__btn:hover {
  color: #fff;
  background-color: #000;
}

.form-search__input:focus + .form-search__btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-nav__items {
  display: flex;
  margin: 32px 0 15px 0;
  padding: 0 60px 35px;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.main-nav__item {
  margin-right: 35px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.main-nav__item:last-child {
  margin-right: -3px;
  padding-right: 0;
}

.main-nav__item:nth-child(3) {
  margin-right: 107px;
}

.catalog {
  width: 220px;
  margin-right: auto;
  position: relative;
}

.catalog::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -26px;
  width: 16px;
  height: 16px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
  cursor: pointer;
}

.submenu {
  display: none;
  position: absolute;
  top: 20px;
  left: -60px;
  display: none;
  z-index: 30;
}

.catalog:hover .submenu {
  display: block;
}

.submenu__items {
  width: 700px;
  margin: 0;
  margin-top: 5px;
  padding: 25px 400px 29px 60px;
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  border: none;
  background-color: #F7E296;
  list-style: none;
}

.submenu__item {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 36px;
  text-transform: none;
  letter-spacing: normal;
  padding: 0;
}

.submenu__item:nth-child(3n+1) {
	min-width: 240px;
}

.submenu__item:nth-child(3n) {
	min-width: 260px;
}

.submenu__item:nth-child(3n+2) {
	min-width: 200px;
}

.submenu__item:last-child {
	min-width: 300px;
}

/* Слайдер */

.popular-slider {
  width: 1160px;
  min-height: 500px;
  background-color: transparent;
  position: relative;
}


.popular-slider__item {
  width: 1110px;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  min-height: 500px;
  position: relative;
}

.popular-slider__image {
  min-width: 480px;
  box-sizing: border-box;
}

.popular-slider__item--slide1 .popular-slider__image {
  padding-top: 2px;
  padding-left: 90px;
}

.popular-slider__item--slide2 .popular-slider__image {
  padding-top: 5px;
  padding-left: 115px;
}

.popular-slider__item--slide3 .popular-slider__image {
  padding-top: 40px;
  padding-left: 30px;
}

.popular-slider__info {
  width: 510px;
}

.popular-slider__controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 254px;
  right: 82px;
  width: 80px;
  height: 11px;
  z-index: 20;
}

.popular-slider__control {
  width: 11px;
  height: 11px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.popular-slider__control::after {
  content: "";
  display: none;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 3px;
  height: 3px;
  border: 1px solid #000;
  border-radius: 50%;
}

#slide1:checked ~ .popular-slider__controls .popular-slider__control[for="slide1"]::after,
#slide2:checked ~ .popular-slider__controls .popular-slider__control[for="slide2"]::after,
#slide3:checked ~ .popular-slider__controls .popular-slider__control[for="slide3"]::after {
  display: block;
  order: 30;
}

#slide1:checked ~ .popular-slider__wrapper .popular-slider__item--slide1,
#slide2:checked ~ .popular-slider__wrapper .popular-slider__item--slide2,
#slide3:checked ~ .popular-slider__wrapper .popular-slider__item--slide3 {
  display: flex;
  order: 20;
}

.popular-slider__item--slide1::before,
.popular-slider__item--slide2::before,
.popular-slider__item--slide3::before {
  position: absolute;
  top: -10px;
  right: -2px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179.2px;
  font-weight: 800;
  line-height: 179.2px;
  color: #fff;
  align-self: flex-end;
}

.popular-slider__item--slide1::before {
  content: "01";
}

.popular-slider__item--slide2::before {
  content: "02";
}

.popular-slider__item--slide3::before {
  content: "03";
}

.popular-slider__title {
  margin: 0;
  padding-top: 81px;
  margin-bottom: 19px;
  position: relative;
}

.popular-slider__title::before {
  content: "";
  position: absolute;
  top: 39px;
  width: 100px;
  height: 7px;
  border: none;
  background-color: #fff;
}

.popular-slider__description {
  padding-right: 10px;
  letter-spacing: 0.2px;
  word-spacing: 0.6px;
}

.popular-slider__description:last-of-type {
  margin-bottom: 42px;
}

.popular-slider__btn {
  margin-bottom: 52px;
}

.popular-slider__parameters {
  margin-left: -4px;
  margin-bottom: 111px;
}

.popular-slider__parameter-value {
  width: 160px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.3px;
  color: #000;
}

.popular-slider__item--slide1 .popular-slider__parameter-value:nth-child(1),
.popular-slider__item--slide3 .popular-slider__parameter-value:nth-child(1) {
  width: 156px;
}

.popular-slider__item--slide1 .popular-slider__parameter-value:nth-child(2),
.popular-slider__item--slide3 .popular-slider__parameter-value:nth-child(2) {
  width: 135px;
}

.popular-slider__parameter-description {
  padding: 0;
  padding-top: 8px;
  padding-left: 4px;
  text-align: left;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: #000;
}

/* Контент и популярные товыры*/

.content {
  width: 100%;
}

.catalog-category {
  width: 1160px;
  margin: 0 auto 55px;
}

.catalog-category__items {

  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  list-style: none;
}

.catalog-category__item {
  margin-right: 40px;
  margin-bottom: 30px;
}

.catalog-category__item:nth-child(6n) {
  margin-right: 0;
}

.catalog-category__item:last-child {
  margin-right: auto;
}

.catalog-category__image-wrapper {
  width: 160px;
  height: 160px;
  margin-bottom: 34px;
  background-color: #F7E296;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.catalog-category__link {
  width: 160px;
  display: flex;
  flex-direction: column;
}

.catalog-category__link:hover,
.catalog-category__link:focus {
  opacity: 1;
}

.catalog-category__image-wrapper:hover,
.catalog-category__image-wrapper:focus {
  background-color: #F0C52E;
}

.catalog-category__link:active .catalog-category__img {
  opacity: 0.3;
}

.catalog-category__name {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2px;
}

/* Сервисы */

.services {
  width: 100%;
  margin-bottom: 95px;
  min-height: 390px;
  background-image: linear-gradient(to bottom,
                    #fff 0,
                    #fff 26%,
                    #E5E5E5 26%,
                    #E5E5E5 100%);
}

.services__wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.services__controls {
  width: 285px;
  padding-top: 82px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.services__controls::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 0;
  width: 7px;
  min-height: 318px;
  border: none;
  background-color: #000;
}

.services__control {
  width: 164px;
  margin: 0;
  margin-bottom: 24px;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}

.services__items {
  margin-left: 100px;
}

.services__item {
  display: none;
  min-height: 238px;
  margin-top: 0;
  margin-right: 65px;
  padding-right: 258px;
  padding-top: 70px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right 85px;
}

#tab1:checked ~ .services__items .services__item--delivery,
#tab2:checked ~ .services__items .services__item--warranty,
#tab3:checked ~ .services__items .services__item--credit {
  display: block;
}

.services__item--delivery {
  background-image: url("..//img/delivery.svg");
}

.services__item--warranty {
  background-image: url("..//img/warranty.svg");
}

.services__item--credit {
  background-image: url("..//img/credit.svg");
}

#tab1:checked ~ .services__controls .services__control[for="tab1"],
#tab2:checked ~ .services__controls .services__control[for="tab2"],
#tab3:checked ~ .services__controls .services__control[for="tab3"] {
  color: #F7E184;
}

#tab1:checked ~ .services__controls .services__control[for="tab1"]::before,
#tab2:checked ~ .services__controls .services__control[for="tab2"]::before,
#tab3:checked ~ .services__controls .services__control[for="tab3"]::before {
  height: 100%;
  width: 280px;
  background-color: #000;
}

.services__name {
  margin-top: 0;
  margin-bottom: 28px;
  letter-spacing: 0.8px;
}

.services__description {
  width: 437px;
  letter-spacing: 0.5px;
}

/* Партнеры*/

.logotypes {
  width: 1160px;
  margin: 0 auto 92px;
}

.logotypes__items {
  display: flex;
  justify-content: space-between;
}

.logotypes__link {
	display: block;
	width: 260px;
	height: 100px;
  background-color: #fff;
  background-repeat: no-repeat;
  opacity: .3;
}

.logotypes__link .active {
	display: none;
}

.logotypes__link:hover .active {
	display: block;
}
.logotypes__link:hover .noactive {
	display: none;
}
.logotypes__link:hover {
	opacity: 1;
}

/* Блок информации */

.info {
  width: 1160px;
  margin: 0 auto 83px;
  display: flex;
  justify-content: space-between;
}

.about, .contacts {
  width: 560px;
  min-height: 573px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.about::before, .contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000;
}

.about__title,
.contacts__title {
  margin: 0;
  margin-bottom: 40px;
  padding-top: 47px;
}

.about__text {
  max-width: 460px;
  margin-bottom: 30px;
  letter-spacing: 0.4px;
  word-spacing: 0.1px;
}

.contacts__text {
  max-width: 560px;
  margin-bottom: 20px;
  letter-spacing: 0.3px;
  word-spacing: 0.1px;
}

.about__text:last-of-type {
  margin-bottom: 65px;
  letter-spacing: 0;
  word-spacing: 0.01px;
  max-width: 475px;
}

.about__carrier-list {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.about__carrier-item {
  padding-left: 35px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000;
  position: relative;
}

.about__carrier-item::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 4px;
  height: 4px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.contacts__map {
  margin-top: 20px;
}

.contacts__btn,
.about__btn {
  margin-top: auto;
}

.about__btn {
  padding: 10px 20px;
}

.contacts__btn {
  padding: 10px 38px;
}

/* Footer */

.footer {
  width: 100%;
  background-color: #464646;
}

.footer__user-menu,
.footer__info,
.footer__social {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__user-menu {
  margin-bottom: 32px;
  padding-top: 59px;
  justify-content: flex-end;
  position: relative;
}

.footer--page .footer__user-menu {
  padding-top: 64px;
}

.logo--footer {
  color: #FFC600;
  top: 56px;
  left: -2px;
}


.user-menu {
  width: 325px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.user-menu__item {
  position: relative;
  padding-left: 25px;
  font-size: 15px;
  line-height: 36px;
}

.user-menu__item::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
}

.user-menu__item--login::before,
.user-menu__item--logout::before {
  width: 13px;
  height: 12px;
  background-image: url("../img/user-f.svg");
  background-repeat: no-repeat;
}

.user-menu__item--compare::before {
  top: 14px;
  left: 6px;
  width: 10px;
  height: 10px;
  background-image: url("../img/compare-f.svg");
  background-repeat: no-repeat;
}

.user-menu__item--backet::before {
  left: 4px;
  width: 12px;
  height: 12px;
  background-image: url("../img/cart-f.svg");
  background-repeat: no-repeat;
}

.user-menu__item:hover::before {
  opacity: 0.6;
}

.user-menu__item:active::before {
  opacity: 0.3;
}

.user-menu__link {
  color: #fff;
}

.footer__line--middle {
  margin-bottom: 57px;
}

.footer__address,
.footer__contact {
  width: 214px;
  color: #fff;
  letter-spacing: 0.1px;
  word-spacing: 0.1px;
  text-decoration: none;
}

.footer__contact {
  text-align: right;
}

.footer-menu {
  max-width: 700px;
  padding-top: 2px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.footer-menu__item {
  padding-right: 35px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  text-align: center;
}

.footer-menu__item:nth-of-type(2) {
  padding-right: 33px;
}

.footer-menu__item:nth-of-type(3) {
  padding-right: 37px;
}

.footer-menu__link {
  color: #fff;
  font-size: 18px;
  line-height: 36px;
}

.footer__line--bottom {
  margin: 0 auto;
  padding-bottom: 60px;
}

.footer__decor {
  width: 80px;
  height: 7px;
  background-color: #FFC600;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  min-width: 140px;
  height: 34px;
}

.social__btn {
  width: 32px;
  height: 32px;
  margin-right: 20px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.btn-tw {
  background-image: url("..//img/twitter.svg");
  margin-right: 0;
}

.btn-insta {
  background-image: url("..//img/instagram.svg");
}

.btn-fb {
  background-image: url("..//img/fb.svg");
}

.footer__copyright {
  width: 27px;
  height: 35px;
  margin-left: 53px;
  background-image: url("..//img/logo-html.svg");
  background-repeat: no-repeat;
}

.social__btn:hover {
  opacity: 0.6;
}

.social__btn:active {
  opacity: 0.1;
}

/* breadcrumbs */

.breadcrumbs {
  padding-left: 60px;
  display: flex;
  justify-content: flex-start;
}

.breadcrumbs__link,
.breadcrumbs__current {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 36px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__link {
  padding-right: 40px;
  position: relative;
}

.breadcrumbs__link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  background-color: transparent;
  transform: rotate(-45deg) translateY(-50%);
}

.breadcrumbs__link:active {
  opacity: 0.1;
}


/* Контент каталога */

.content--page {
  width: 100%;
  position: relative;
}

.content--page::before {
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0;
  background-color: #EBEBEB;
  z-index: 0;
}

.page-wrapper {
  width: 1160px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

.filter,
.column-right-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.filter {
  width: 270px;
  margin-left: auto;
  padding-left: 60px;
  align-items: flex-end;
  position: relative;
  z-index: 10;
}

.filter::after {
  content: "";
  width: 50vw;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #EBEBEB;
  z-index: -10;
}

.section-title {
  padding: 11px 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.filter .section-title {
  margin-right: 180px;
  position: relative;
}

.filter .section-title::after {
  content: "";
  width: 50vw;
  height: 70px;
  position: absolute;
  top: -13px;
  right: -180px;
  background-color: #DCDCDC;
  z-index: -5;
}

.column-right-wrap {
  width: 760px;
  padding-left: 70px;
  margin-right: auto;
}

/* Сортировка */

.sort {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 10;
}

.sort__criterions {
  margin-left: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort__criterions-item {
  margin-left: 30px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  opacity: 0.3;
}

.sort__criterions-item:nth-of-type(2) {
  margin-left: 32px;
}

.sort__criterions-item--current,
.sort__criterions-item:active {
  opacity: 1;
}

.sort__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 40px;
  margin-left: auto;
}

.sort__btn {
  display: inline-block;
  vertical-align: middle;
  border: 10px solid #000;
  border-right-width: 5px;
  border-left-width: 5px;
  border-right-color: transparent;
  border-left-color: transparent;
  opacity: 0.2;
}

.sort__btn--up {
    border-top: 0;
}

.sort__btn--down {
    border-bottom: 0;
}

.sort__btn:hover,
.sort__btn:focus {
  opacity: 0.4;
}

.sort__btn--active,
.sort__btn:active {
  opacity: 1;
}

/* Лист товаров */

.goods__list {
  margin: 0;
  margin-top: 34px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  list-style: none;
}

.goods__item {
  margin-top: 35px;
  position: relative;
}

.goods__item-info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.goods__item-title {
  width: 260px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.3px;
}

.goods__item-price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.goods__item-image {
  margin: 0;
  line-height: 0;
  margin-bottom: 14px;
}

.goods__item:hover .goods__item-hover {
  display: flex;
}

.goods__item-hover {
  width: 360px;
  height: 380px;
  margin: 0;
  padding: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.goods__item-image--new::before {
  content: "new";
  position: absolute;
  padding-top: 23px;
  padding-left: 16px;
  top: 28px;
  right: 26px;
  width: 44px;
  height: 37px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.goods__btn {
  width: 140px;
  padding: 10px 30px;
}

.goods__compare {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 1.1px;
  text-align: center;
  opacity: 0.5;
}

.goods__compare:hover,
.goods__compare:focus {
  opacity: 1;
}

.goods__compare:active {
  opacity: 0.2;
}

/* Фильтр */

.filter__form {
  width: 200px;
  margin-right: 72px;
  box-sizing: border-box;
}

.filter__group {
  padding: 0;
  border: none;
  margin-bottom: 40px;
}

.filter__group--color {
  margin-bottom: 45px;
}

.filter__group--cost {
  margin-top: 84px;
  height: 100px;
}

.filter__name {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  color: #000;
  position: relative;
}

.filter__name::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 0;
  width: 200px;
  height: 1px;
  border-top: 2px solid #000;
}

.filter__cost-range {
  height: 24px;
  margin-top: 27px;
  position: relative;
  cursor: pointer;
}

.filter__cost-range span {
  position: absolute;
  top: 0;
  width: 4px;
  height: 4px;
  background-color: #ABABAB;
  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.3);
}

.filter__range-left {
  left: -5px;
}

.filter__range-right {
  left: 107px;
}

.filter__cost-range span:hover {
  border: 9px solid #fff;
  top: -1px;
}

.filter__range-left:hover {
  left: -6px;
}

.filter__range-right:hover {
  left: 106px;
}

.filter__range-left::before {
  content: "";
  display: block;
  position: absolute;
  left: 13px;
  width: 96px;
  height: 1px;
  border-bottom: 2px solid #91C92F;
}

.filter__range-right::before {
  content: "";
  display: block;
  position: absolute;
  left: 13px;
  width: 72px;
  height: 1px;
  border-bottom: 2px solid #DBDBDB;
}

.filter__cost-equal {
  display: flex;
}

.filter__cost-equal input {
  width: 70px;
  margin-left: 3px;
  border: none;
  background-color: transparent;
}

.filter__cost-equal input,
.filter__cost-equal label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.2);
}

.filter__list-options {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.filter__checkbox,
.filter__radio {
  display: none;
}

.filter__option {
  padding-left: 40px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  color: #000;
  position: relative;
  cursor: pointer;
}

.filter__checkbox + .filter__option::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #000;
  border-radius: 2px;
}

.filter__checkbox:checked + .filter__option::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 6px;
  width: 15px;
  height: 7px;
  border-left: 4px solid #000;
  border-bottom: 4px solid #000;
  box-shadow: 0 2px 0 0 #EBEBEB,
  inset 0 -2px 0 0 #EBEBEB;
  transform: rotate(-45deg);
}

.filter__checkbox:hover + .filter__option::before,
.filter__checkbox:checked:hover + .filter__option::after,
.filter__checkbox:checked:hover + .filter__option::before {
  opacity: 0.6;
}

.filter__group--bluetooth {
  margin-bottom: 30px;
}

.filter__radio + .filter__option::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 4px solid #000;
  border-radius: 50%;
}

.filter__radio:checked + .filter__option::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 8px;
  width: 6px;
  height: 6px;
  border: 1px solid #000;
  background-color: #000;
  border-radius: 50%;
}

.filter__radio:hover + .filter__option::before,
.filter__radio:checked:hover + .filter__option::after,
.filter__radio:checked:hover + .filter__option::before {
  opacity: 0.6;
}

.filter__btn {
  border: none;
  background-color: #EBEBEB;
}

/* paginator */

.pagination {
  height: 70px;
  margin-top: 23px;
  margin-bottom: 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EBEBEB;
}

.pagination__number {
  display: flex;
  width: 110px;
  margin-left: 14px;
  justify-content: space-around;
}

.pagination__item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  background-color: transparent;
  color: #000;
  opacity: 0.3;
  cursor: pointer;
}

.pagination__item--current {
  opacity: 1;
}

.pagination__item--prev,
.pagination__item--next {
  height: 20px;
  padding: 25px 26px 25px 30px;
  opacity: 1;
}

.pagination__item--prev:hover,
.pagination__item--next:hover {
  background-color: #D9D9D9;
}

.pagination__item--prev:active,
.pagination__item--next:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination__item:hover {
  opacity: 0.6;
}

.pagination__item:active {
   opacity: 1;
}

/* popup */

.popup-map,
.popup-feedback {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: block;
  width: 960px;
  height: 560px;
  padding: 0;
  border: none;
  box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.2),
              0 20px 60px 5px rgba(0, 0, 0, 0.3);
  z-index: 20;
  opacity: 0;
  transform: scale(0);
}

.popup-feedback {
  background-color: #fff;
  width: 800px;
  height: 360px;
  padding: 80px 100px;
}

.popup-map {
  background: #E3E3E3 url("..//img/map.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}



.popup-feedback__line {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.popup-feedback__field {
  width: 350px;
  height: 50px;
  padding-left: 20px;
}

.popup-feedback__letter {
  width: 100%;
  height: 140px;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.popup-feedback__field,
.popup-feedback__letter {
  margin-top: 10px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
  border: 3px solid transparent;
  background-color: #F2F2F2;
}

.popup-feedback__field:hover,
.popup-feedback__letter:hover {
  background-color: #EAEAEA;
}

.popup-feedback__field:focus,
.popup-feedback__letter:focus {
  background-color: #fff;
  color: #000;
  border: 3px solid #F7E296;
}

.popup-feedback__field:invalid,
.popup-feedback__letter:invalid {
  background-color: #F6DADA;
  color: rgba(0, 0, 0, 0.4);
}

.popup-feedback__field:invalid:hover,
.popup-feedback__letter:invalid:hover {
  background-color: #EAEAEA;
}

.popup-feedback__label {
  display: flex;
  flex-direction: column;
  color: #000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
}

.popup-feedback__btn {
  border: none;
  background-color: #fff;
}

.popup-map__close,
.popup-feedback__close {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 22px;
  right: 25px;
  border: 0;
  border-radius: 50%;
  background-color: rgba(240, 197, 46, 0.5);
  cursor: pointer;
}

.popup-map__close:hover,
.popup-feedback__close:hover {
  background-color: rgba(240, 197, 46, 1);
}

.map__close:active,
.popup-feedback__close:active {
  background-color: rgba(240, 197, 46, 0.3);
}

.popup-map__close::before,
.popup-map__close::after,
.popup-feedback__close::before,
.popup-feedback__close::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 15px;
  width: 30px;
  height: 2px;
  background-color: #fff;
}

.popup-map__close::before,
.popup-feedback__close::before {
  transform: rotate(45deg);
}

.popup-map__close::after,
.popup-feedback__close::after  {
  transform: rotate(-45deg);
}
